<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Creation Page</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<form action="#" th:action="@{/user}" th:object="${user}" method="post">
    <h2>Please Enter User Information</h2>
    <p>Name: <input id = "Name" type="text" th:field="*{name}" /></p>
    <p>User Handle: <input id = "UserHandle" type="text" th:field="*{handle}" /></p>
</form>

<button> Add User</button>


</body>
</html>